<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
     <div class="form group">
         <label>Name</label>
         <input name="Name" #Name="ngModel"[(ngModel)]="service.formData.Name" class="form-control" required>
         <div class="validation-error"*ngIf="Name.invalid && Name.touched">This field is required</div>
     </div>
     <div class="form-group">
        <label>Description</label>
        <input name="Description" #Description="ngModel"[(ngModel)]="service.formData.Description" class="form-control">
    </div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label>Price</label>
        <input name="Price" #Price="ngModel"[(ngModel)]="service.formData.Price" class="form-control">
    </div>
   
</div>
<div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
</div>

</form>
